table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: green;
	border-collapse: separate;
	background-color: white;
}
table th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: black;
	background-color: white;
	-moz-border-radius: ;
}
table td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: black;
	background-color: white;
	-moz-border-radius: ;
}
